# testing data
lists
data
**/data
qgis/*
*.lock
*.h5
*.pub
*.pem

# VSCode
.vscode/*

# Mac
**/.DS_Store
.dbus*

# History and AWS
.aws
.bash_history
.cache
.local
.python_history
**/__pycache__/

# hide secrets
.creds
.config
.ssh




